<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <link rel="stylesheet" type="text/css" href="/css/banner-styles.css">
  <link rel="stylesheet" type="text/css" href="/css/iconochive.css">
  <title>{{ page.title }}</title>

  <meta name="keywords" content="CCG, TCG, Collectible card games, Trading card game, SW:CCG, ST:CCG, M:TG, Customizable Card Game, CCG, Star Wars CCG, Star Trek CCG, Card Gaming">
  <meta name="description" content="DeckTech has one mission: To build a self sustaining community that adds entertainment value to the CCGs we all enjoy. All CCG players welcome.">

  <style type="text/css">
    .deck-rating { font-size: 12pt; font-family: monospace; color:#09d8dc; }
    .deck-side { font-size: 12pt; color:yellow; }
    .deck-title { font-size: 12pt; font-weight:bold; color:#ffa600; }
    .deck-author { font-size: 12pt; color:#56c0a7; }
    .deck-description { text-decoration:italicized; font-size:10pt; color:#c8c8c8; }
    ul.deck-index li { padding-bottom:15px; }


    body { 
      font-family: Arial, Helvetica, sans-serif; 
      color: #ffffff; 
      font-size: 10pt; 
      font-style: normal; 
      text-decoration: none; 
      background-color: #000000; 
      margin: 0in; 
      margin-left: 0in; 
      margin-top: 0in; 
      border-style: none;
    }
    .level1nav {
      color: #00FF00; 
      text-decoration: none; 
      font-weight: bold; 
      font-size: 10pt;
    }
    a {  
      color: #00FF00; 
      text-decoration: none;
    }
    .header_bg {  background: #001F90}
    a:hover { color: #FFFFFF; text-decoration: none }
    .border {  border: thin #001F90 solid}
    input {
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 10pt; 
      border: 1px solid black;
    }   
  </style>
</head>
<body link="#00FF00" vlink="#CCCCCC" alink="#00FF00" text="#FFFFFF" margin="0" marginwidth="0" marginheight="0" bgcolor="#000000" background="/img/background.jpg">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr> 
    <td width="1" valign="top"><img src="/img/trans_header1.gif" width="1" height="1" vspace="0" hspace="0" border="0"></td>
    <td width="130" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr valign="top" align="left"> 
          <td><a href="/"><img src="/img/dt_2logo.gif" border="0"></a></td>
        </tr>
      </tbody></table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr valign="top"> 
          <td height="2"><img src="/img/trans.gif" width="130" height="8"></td>
        </tr>
        <tr valign="top"><td height="2"></td></tr>
        <tr valign="top"> 
          <td>
<!-- sidebar -->
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="border"><tbody><tr class="header_bg">
  <td height="2"><font face="Arial, Helvetica, sans-serif" size="2"><b>DeckTech.net</b></font></td></tr>
  <tr valign="top"><td><font face="Arial, Helvetica, sans-serif" size="2">
    <table width="98%" border="0" cellspacing="0" cellpadding="2">
      <tbody><tr> 
        <td colspan="2"><font color="#00FF00"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="/">Home</a></font></b></font></td></tr>
                    <tr><td height="13">&nbsp;</td><td height="13"><font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/ccg">Card Games?</a></font><br>
                        <font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/about">About DeckTech</a></font><br>
                        <!-- font color="#00FF00"><font face="Arial, Helvetica, sans-serif" size="2"><a href="/join">Sign 
                        Me Up!</a></font><br -->
                        <font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/faq">FAQ</a></font></td></tr>
                    <!tr><td colspan="2"><font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><b><a href="/dpc">DPC</a></font></b></td></tr>
                    <!-- tr><td colspan="2" height="2"><font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><b><a href="/groups">DeckTech Groups</a></b></font></td></tr -->
                  </tbody></table>
</font></td></tr></tbody></table>

</td></tr><tr><td><img src="/img/trans.gif" width="8" height="6"></td></tr><tr valign="top"><td>

<table width="100%" border="0" cellspacing="0" cellpadding="3" class="border"><tbody><tr class="header_bg">
  <td height="2"><font face="Arial, Helvetica, sans-serif" size="2"><b>Star Wars CCG</b></font></td></tr>
  <tr valign="top"><td><font face="Arial, Helvetica, sans-serif" size="2">
    <table width="98%" border="0" cellspacing="0" cellpadding="2">
      <tbody>
        <tr><td colspan="2"><font color="#00FF00"><b><font face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/">Home</a></font></b></font></td></tr>
        <tr><td height="13">&nbsp;</td><td height="13">

          <font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/about">About the Game</a></font></font><br />
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/decktech">About DeckTech</a></font></font><br / -->
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/directory">Member Directory</a></font></font><br / -->
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/join">Sign Up Now!</a></font></font><br / -->
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/articles">Articles</a></font></font><br / -->
          <font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/decks">Decks</a></font></font><br />
          <font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/tournament-reports">Tournament Reports</a></font></font><br />
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/academy">Jedi Academy</a></font></font><br / -->
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/starwarsccg/resources">Resources</a></font></font><br / -->
          <!-- font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2"><a href="/premium">Premium Memberships</a></font></font><br / -->

        </td></tr>
                  </tbody></table>
</font></td></tr></tbody></table>




</td></tr>
         <tr><td><img src="/img/trans.gif" width="8" height="6"></td></tr>
         <tr valign="top"><td><table width="100%" border="0" cellspacing="0" cellpadding="3" class="border"><tbody><tr class="header_bg"><td height="2"><font face="Arial, Helvetica, sans-serif" size="2"><b>CCGs</b></font></td></tr><tr valign="top"><td><font face="Arial, Helvetica, sans-serif" size="2">

<table width="100%" border="0" cellspacing="0" cellpadding="6">
  <tbody>
    <tr align="center" valign="middle"><td><a href="/magination"  class="level1nav"><img src="/img/magi_grey.gif" width="110" height="99" border="0" alt="MagiNation Duel"></a></td></tr>
    <tr align="center" valign="middle"><td><a href="/lotr"        class="level1nav"><img src="/img/lotr_grey.gif" width="110" height="96" border="0" alt="Lord of the Rings Card Game"></a></td></tr>
    <tr align="center" valign="middle"><td><a href="/starwarsccg" class="level1nav"><img src="/img/sw.gif"        width="108" height="72" border="0" alt="Star Wars Customizable Card Game"></a></td></tr>
    <tr align="center" valign="middle"><td><a href="/swtcg"       class="level1nav"><img src="/img/swt_grey.gif"  width="108" height="73" border="0" alt="Star Wars Trading Card Game"></a></td></tr>
    <tr align="center" valign="middle"><td><a href="/st"          class="level1nav"><img src="/img/st_grey.gif"   width="108"             border="0" alt="Star Trek Customizable Card Game"></a></td></tr>
  </tbody>
</table>

</font></td></tr></tbody></table></td></tr><tr><td><img src="/img/trans.gif" width="8" height="6"></td></tr> 
        <tr valign="top"> 
          <td> </td>
        </tr>
      </tbody></table>
    </td>
    <td align="left" valign="top" colspan="2" width="90%"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr valign="top"> 
    <td height="75" width="1%"><img src="/img/trans_header1.gif" width="22" height="2" vspace="0" hspace="0" border="0"></td>
    <td height="75" width="99%">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr valign="top"> 
          <td height="75"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="6">
              <tbody><tr> 
                <td><!-- header banner -->
                  <img src="{{ page.header_image | default: '/img/trans_header1.gif' }}" />
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
        <tr valign="top"> 
          <td height="9"><font face="Arial, Helvetica, sans-serif" size="1"><b><font size="2"> 
            </font></b></font> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr> 
                <td height="18">&nbsp; </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr> 
          <td valign="top" width="1"><img src="/img/trans_header1.gif" width="22" height="2" vspace="0" hspace="0" border="0"></td>
          <td bgcolor="#001F90" valign="top"><!-- #BeginEditable "Body" --> 
            
<!-- center -->
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="border"><tbody><tr class="header_bg"><td height="2"><font face="Haettenschweiler, Impact, Arial Black" size="5">{{ page.title }}</font></td></tr><tr valign="top"><td bgcolor="#000066"><font face="Arial, Helvetica, sans-serif" size="2"><ul>
              <br>
              <p>
                {{ content }}
              <p>
            </ul>
</font></td></tr></tbody></table>
<!-- center -->

            <!-- #EndEditable --></td>
          <td width="1" valign="top"><img src="/img/trans_header1.gif" width="16" height="2" vspace="0" hspace="0" border="0"></td>
        </tr>
      </tbody></table>
    </td>
  </tr>
  <tr> </tr>
  <tr> 
    <td colspan="4"> 

<img style="width:100%;" src="/img/footer.gif" />

<table width="100%" border="0" cellspacing="0" cellpadding="1" style="background-color:#000000;">
  <tbody><tr align="center"><td><font face="Arial, Helvetica, sans-serif" size="2"></font><p><font face="Arial, Helvetica, sans-serif" size="2"><a href="/terms">Terms of Service</a>, TM, and &copy;2002 www.decktech.net. All Rights Reserved.</font></p></td></tr></tbody></table>
</td></tr>
</tbody></table>



</body></html>
